.add-property {
  margin: auto;
  padding: 15px 15px;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  width: 400px;
  background-color: white;
  -webkit-box-shadow: 6px -4px 5px 1px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 6px -4px 5px 1px rgba(0, 0, 0, 0.66);
  box-shadow: 6px -4px 5px 1px rgba(0, 0, 0, 0.66);
}

.wrapper {
  height: 100vh;
  background-color: #f0f0f0;
  padding-top: 50px;
}
.form-entry {
  margin: 15px;
  text-align: center;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-content: center;
}

label {
  margin-right: 10px;
  margin: auto;
}

button {
  margin: auto;
  width: 100px;
  height: 30px;
  /* border-radius: 25px; */
  text-decoration: none;
  border: none;
  font-weight: 700;
  box-shadow: none;
  background-color: purple;
  color: white;
  transition: background 250ms ease-in-out, transform 150ms ease;
}
button:active {
  transform: scale(0.99);
}

input {
  margin: auto;
  width: 70%;
  height: 30px;
  text-align: center;
}

select {
  width: 70%;
  height: 30px;
  text-align-last: center;
  margin: auto;
}
