.nav-bar {
  background-color: white;
  border-bottom: 4px solid grey;
}

.surreal-logo {
  height: 70px;
  width: 200px;
}

.navbar-links {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  background-color: purple;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}

.navbar-links-item {
  margin: auto;
  padding: 5px 15px;
  display: inline-block;
  color: #fff;
  height: 30px;
}
