.city-filter,
.price-filter {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar {
  display: flex;
  flex-direction: column;
}
